<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt_company.market.mybatis.mapper.MemberMapper">

  <select id="selectMember" resultType="com.kt_company.market.dto.MemberDto">
    SELECT *
    FROM member m
    WHERE m.id = #{id}
        AND m.password = #{password}
  </select>

</mapper>
